<!DOCTYPE html>
<html lang="en">
<title>Robin Mesnage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
  
   .myface { 
                width:auto; 
                text-align:center; 
            } 
    img { 
                max-width:100%; 
                        height:auto; 
            } 
  
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="https://mesnage.github.io/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="https://mesnage.github.io/publications.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Publications</a>
    <a href="https://mesnage.github.io/research.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Research</a>
    <a href="https://mesnage.github.io/consulting.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Consulting</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="https://mesnage.github.io/publications.html" class="w3-bar-item w3-button w3-padding-large">Publications</a>
    <a href="https://mesnage.github.io/research.html" class="w3-bar-item w3-button w3-padding-large">Research</a>
    <a href="https://mesnage.github.io/consulting.html" class="w3-bar-item w3-button w3-padding-large">Consulting</a>
  </div>
</div>


<!-- Header -->
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Robin Mesnage</h1>
  <p class="w3-xlarge"> Publications </p>
</header>
  
<!-- First Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">

    <h1>2020</h1>
<h5 class="w3-padding-32"> Robinson C, Portier CJ, Čavoski A, <strong>Mesnage R</strong>, Roger A, Clausing P, Whaley P, Muilerman H, Lyssimachou A (2020) 
  Achieving a High Level of Protection from Pesticides in Europe: Problems with the Current Risk Assessment Procedure and Solutions.
  European Journal of Risk Regulation, 1-31. DOI: <a class="url doi" href="https://doi.org/10.1017/err.2020.18" target="_blank" rel="noopener">https://doi.org/10.1017/err.2020.18</a> </h5>
  
  <h5 class="w3-padding-32"> <strong>Mesnage R</strong>, Oestreicher N, Poirier F, Nicolas V, Boursier C, Vélot C. (2020) 
  Transcriptome profiling of the fungus Aspergillus nidulans exposed to a commercial glyphosate-based herbicide under conditions of apparent herbicide tolerance. 
  Environmental Research. Available online 7 January 2020, 109116. DOI:   
  <a href="https://doi.org/10.1016/j.envres.2020.109116"  target="_blank" rel="noreferrer noopener">https://doi.org/10.1016/j.envres.2020.109116</a> </h5>
    
    
<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2020</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Robinson C, Portier CJ, Čavoski A, <strong>Mesnage R</strong>, Roger A, Clausing P, Whaley P, Muilerman H, Lyssimachou A (2020) 
  Achieving a High Level of Protection from Pesticides in Europe: Problems with the Current Risk Assessment Procedure and Solutions.
  European Journal of Risk Regulation, 1-31. DOI: <a class="url doi" href="https://doi.org/10.1017/err.2020.18" target="_blank" rel="noopener">https://doi.org/10.1017/err.2020.18</a> </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
   <strong>Mesnage R</strong>, Oestreicher N, Poirier F, Nicolas V, Boursier C, Vélot C. (2020) 
  Transcriptome profiling of the fungus Aspergillus nidulans exposed to a commercial glyphosate-based herbicide under conditions of apparent herbicide tolerance. 
  Environmental Research. Available online 7 January 2020, 109116. DOI: <a href="https://doi.org/10.1016/j.envres.2020.109116"  target="_blank" rel="noreferrer noopener">https://doi.org/10.1016/j.envres.2020.109116</a> </p>
<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2019</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Teixeira M, Mandrioli D, Falcioni L, Ducarmon QR, Zwittink RD,  Amiel C, Panoff J, Belpoggi F,  Antoniou MN (2019). 
  Shotgun metagenomics and metabolomics reveal glyphosate alters the gut microbiome of Sprague-Dawley rats by inhibiting the shikimate pathway. 
  BioRxiv, December 11, 2019. doi: <a href="https://www.biorxiv.org/content/10.1101/870105v1">https://doi.org/10.1101/87010</a><a href="https://doi.org/10.1101/870105">5</a>.   </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Grundler F, Schwiertz A, Le Maho Y, Wilhelmi de Toledo F. (2019) 
  Changes in Human Gut Microbiota Composition Are Linked to the Energy Metabolic Switch During Ten Days of Fasting. 
  Journal of Nutritional Science 8. DOI: <a href="https://doi.org/10.1017/jns.2019.33" target="_blank" rel="noreferrer noopener">https://doi.org/10.1017/jns.2019.33</a>  </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Tsakiris IN, Antoniou MN, Tsakiris A (2019) 
  Limitations in the evidential basis supporting health benefits from a decreased exposure to pesticides through organic food consumption. 
  Current Opinion in Toxicology. DOI: <a href="https://doi.org/10.1016/j.cotox.2019.11.003" target="_blank" rel="noreferrer noopener">https://doi.org/10.1016/j.cotox.2019.11.003</a>  </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Biserni M, <strong>Mesnage R</strong>, Wozniak E, Xenakis T, Mein CA, Antoniou MN (2019) 
  Quizalofop-p-ethyl induces adipogenesis in 3T3-L1 adipocytes. 
  Toxicological Sciences, kfz097, DOI: <a href="https://doi.org/10.1093/toxsci/kfz097" target="_blank" rel="noreferrer noopener">https://doi.org/10.1093/toxsci/kfz097</a>  </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Tsiaoussis J., Antoniou MN, Koliarakis I, <strong>Mesnage R</strong>, Vardavas CI, Izotov BN., Psaroulaki A,, Tsatsakis AM (2019) 
  Effects of single and combined toxic exposures on the gut microbiome: current knowledge and future directions.
  Toxicology Letters. Accepted 11 Apr 2019. DOI: <a href="https://doi.org/10.1016/j.toxlet.2019.04.014" target="_blank" rel="noreferrer noopener">https://doi.org/10.1016/j.toxlet.2019.04.014</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">   
  <strong>Mesnage R</strong>, Le Roy C, Biserni M, Salles B, Antoniou MN. (2019) 
  Relationship between faecal microbiota and plasma metabolome in rats fed NK603 and MON810 GM maize from the GMO90+ study. 
  Food Chem Toxicol. 2019 Jun 3;131:110547 DOI: <a href="https://doi.org/10.1016/j.fct.2019.05.055" target="_blank" rel="noreferrer noopener">10.1016/j.fct.2019.05.055</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">  
  <strong>Mesnage R</strong>, Benbrook C, Antoniou MN. (2019). 
  Insight into the confusion over surfactant co-formulants in glyphosate-based herbicides. 
  Food Chem Toxicol. DOI: <a href="https://doi.org/10.1016/j.fct.2019.03.053" target="_blank" rel="noreferrer noopener">doi.org/10.1016/j.fct.2019.03.053</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Antoniou MN, Tsoukalas D, Goulielmos GN, Tsatsakis AM (2019). 
  Gut microbiome metagenomics to understand how xenobiotics impact human health. 
  Current Opinion in Toxicology.11-12:51–58. DOI: <a href="https://doi.org/10.1016/j.cotox.2019.02.002" target="_blank" rel="noreferrer noopener">https://doi.org/10.1016/j.cotox.2019.02.002</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Margina D, Mihai G, Ungurianu A, <strong>Mesnage R</strong>, Goumenou M, Sarigiannis DA, Aschner M, Spandidos DA, Renieri EA, Hernández AF, Tsatsakis A (2019) 
  Overview of the effects of chemical mixtures with endocrine disrupting activity in the context of real‑life risk simulation (RLRS): An integrative approach. 
  World Academy of Sciences Journal. DOI:  <a href="https://www.spandidos-publications.com/10.3892/wasj.2019.17" target="_blank" rel="noreferrer noopener">10.3892/wasj.2019.17</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Antoniou MN, Nicolas A, <strong>Mesnage R</strong>, Biserni M, Rao FV, Vasquez Martin C (2019) 
  Glyphosate does not substitute for glycine in proteins of actively dividing mammalian cells. 
  BMC Research Notes. volume 12, Article number: 494. DOI: <a href="https://bmcresnotes.biomedcentral.com/articles/10.1186/s13104-019-4534-3" target="_blank" rel="noreferrer noopener">10.1186/s13104-019-4534-3</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2018</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Nawaz MA, <strong>Mesnage R</strong>,Tsatsakis AM, Golokhvast KS, Yang SH, Antoniou MN, Chung G. 
  Addressing concerns over the fate of DNA derived from genetically modified food in the human body: A review. 
  Food Chem Toxicol. 2018 Dec 21;124:423-430. DOI: <a href="https://doi.org/10.1016/j.fct.2018.12.030" target="_blank" rel="noreferrer noopener">10.1016/j.fct.2018.12.030</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Sevim Ç, Çomaklı S, Taghizadehghalehjoughi A, Özkaraca M, <strong>Mesnage R</strong>, Kovatsi L, Burykina TI, Kalogeraki A, Antoniou MN, Tsatsakis A. 
  An imazamox-based herbicide causes apoptotic changes in rat liver and pancreas. 
  Toxicol Rep. 2018 Nov 19;6:42-50.DOI: <a href="https://doi.org/10.1016/j.toxrep.2018.11.008" target="_blank" rel="noreferrer noopener">10.1016/j.toxrep.2018.11.008</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Séralini GE. (2018) Multidisciplinary approaches to evaluate pesticide effects on health and environment. 
  Frontiers in Public Health 6, 268. DOI: <a href="https://doi.org/10.3389/fpubh.2018.00268" target="_blank" rel="noreferrer noopener">https://doi.org/10.3389/fpubh.2018.00268</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Biserni M, Wozniak E, Xenakis T, Mein CA, Antoniou MN (2018) 
  Comparison of transcriptome responses to glyphosate, isoxaflutole, quizalofop-p-ethyl and mesotrione in the HepaRG cell line. 
  Toxicology reports 5, 819-826.DOI: <a href="https://doi.org/10.1016/j.toxrep.2018.08.005" target="_blank" rel="noreferrer noopener">10.1016/j.toxrep.2018.08.005</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Biserni M, Genkova D, Wesolowski L, Antoniou MN (2018) 
  Evaluation of neonicotinoid insecticides for oestrogenic, thyroidogenic and adipogenic activity reveals imidacloprid causes lipid accumulation. 
  J Appl Toxicol. 1–9.DOI: <a href="https://doi.org/10.1002/jat.3651" target="_blank" rel="noreferrer noopener">10.1002/jat.3651</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Biserni M, Balu S, Frainay C, Poupin N, Jourdan F, Wozniak E, Xenakis T, Mein CA, Antoniou MN (2018) 
  Integrated transcriptomics and metabolomics reveal signatures of lipid metabolism dysregulation in HepaRG liver cells exposed to PCB 126. 
  Archives of Toxicology, 1-15.DOI: <a href="https://doi.org/10.1007/s00204-018-2235-7" target="_blank" rel="noreferrer noopener">10.1007/s00204-018-2235-7</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Antoniou MN. (2018) 
  Ignoring Adjuvant Toxicity Falsifies the Safety Profile of Commercial Pesticides. 
  Front Public Health. 2018 Jan 22;5:361.DOI: <a href="https://doi.org/10.3389/fpubh.2017.00361" target="_blank" rel="noreferrer noopener">10.3389/fpubh.2017.00361</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2017</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Lozano VL, Defarge N, Rocque LM, <strong>Mesnage R</strong>, Hennequin D, Cassier R, de Vendômois JS, Panoff JM, Séralini GE, Amiel C. (2017) 
  Sex-dependent impact of Roundup on the rat gut microbiome. 
  Toxicol Rep. Dec 19;5:96-107. DOI: <a href="https://doi.org/10.1016/j.toxrep.2017.12.005" target="_blank" rel="noreferrer noopener">https://doi.org/10.1016/j.toxrep.2017.12.005</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>,Antoniou MN. (2017) 
  Facts and Fallacies in the Debate on Glyphosate Toxicity. Front Public Health. 
  Nov 24;5:316.DOI: <a href="https://doi.org/10.3389/fpubh.2017.00316" target="_blank" rel="noreferrer noopener">10.3389/fpubh.2017.00316</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Poirier F, Boursier C, <strong>Mesnage R</strong>, Oestreicher N, Nicolas V, Vélot C. (2017) 
  Proteomic analysis of the soil filamentous fungus Aspergillus nidulans exposed to a Roundup formulation at a dose causing no macroscopic effect: a functional study.
  Environ Sci Pollut Res Int. 2017 Nov;24(33):25933-25946. DOI: <a href="https://doi.org/10.1007/s11356-017-0217-6" target="_blank" rel="noreferrer noopener">10.1007/s11356-017-0217-6</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Phedonos A, Biserni M, Arno M, Balu S, Christopher Corton J, Ugarte R, Antoniou MN (2017) 
  Evaluation of estrogen receptor alpha activation by glyphosate-based herbicide constituents. 
  Food and Chemical Toxicology. DOI: <a href="https://doi.org/10.1016/j.fct.2017.07.025" target="_blank" rel="noreferrer noopener">10.1016/j.fct.2017.07.025</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Antoniou MN (2017) 
  Roundup Ready! Glyphosate and the Current Controversy Over the World’s Leading Herbicide. 
  In book: Encyclopedia of the Anthropocene – Reference Module in Earth Systems and Environmental Sciences. DOI: <a href="https://doi.org/10.1016/B978-0-12-809665-9.09981-X"  target="_blank" rel="noreferrer noopener">DOI: 10.1016/B978-0-12-409548-9.09981-4</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Vandenberg LN, Blumberg B, Antoniou MN, Benbrook CM, Carroll L, Colborn T, Everett LG, Hansen M, Landrigan PJ, Lanphear BP, <strong>Mesnage R</strong>,Vom Saal FS, Welshons WV, Myers JP. (2017) 
  Is it time to reassess current safety standards for glyphosate-based herbicides? 
  J Epidemiol Community Health. 71(6):613-618. DOI: <a href="http://dx.doi.org/10.1136/jech-2016-208463" target="_blank" rel="noreferrer noopener">http://dx.doi.org/10.1136/jech-2016-208463</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Phedonos A, Arno M, Balu S, Christopher Corton J, Antoniou MN (2017) 
  Editor’s Highlight: Transcriptome profiling reveals bisphenol A alternatives activate estrogen receptor alpha in human breast cancer cells.
  Toxicol Sci. 2017 158(2):431-443.DOI: <a href="https://doi.org/10.1093/toxsci/kfx101" target="_blank" rel="noreferrer noopener">10.1093/toxsci/kfx101</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Arno M, Séralini GE, Antoniou M. (2017) 
  Transcriptome and metabolome analysis of liver and kidneys of rats chronically fed NK603 Roundup-tolerant genetically modified maize.
  Environmental Sciences Europe. 29:6.DOI: <a href="https://doi.org/10.1186/s12302-017-0105-1" target="_blank" rel="noreferrer noopener">10.1186/s12302-017-0105-1</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Renney G, Séralini GE, Ward M, Antoniou M. (2017) 
  Multiomics reveal non-alcoholic fatty liver disease in rats following chronic exposure to an ultra-low dose of Roundup herbicide.
  Scientific Reports. 2017. 6, 39328.DOI: <a href="https://doi.org/10.1038/srep39328" target="_blank" rel="noreferrer noopener">10.1038/srep39328</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2016</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Agapito-Tenfen S, Vilperte V, Renney G, Ward M, Séralini GE, Nodari N, Antoniou M. (2016) 
  An integrated multi-omics analysis of the NK603 Roundup-tolerant GM maize reveals metabolism disturbances caused by the transformation process. 
  Scientific Reports. 6, 37855. DOI: <a href="https://doi.org/10.1038/srep37855"  target="_blank" rel="noreferrer noopener">https://doi.org/10.1038/srep37855</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Deloménie C., Grentzmann G., Oestreicher N., <strong>Mesnage R</strong>, Vélot C. (2016) 
  Development and validation of a custom microarray for global transcriptome profiling of the fungus Aspergillus nidulans. 
  Current Genetics. 62(4):897-910.DOI: <a href="https://doi.org/10.1007/s00294-016-0597-z" target="_blank" rel="noreferrer noopener">10.1007/s00294-016-0597-z</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Defarge N., Takács E., Lozano V., <strong>Mesnage R</strong>, Spiroux De Vendômois J., Séralini GE., Székács A. (2016) 
  Co-formulants in glyphosate-based herbicides disrupt aromatase activity in human cells below toxic levels. 
  Int J Environ Res Public Health. 13(3). pii: E264. DOI: <a href="https://doi.org/10.3390/ijerph13030264" target="_blank" rel="noreferrer noopener">10.3390/ijerph13030264</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Myers JP, Antoniou MN, Blumberg B, Carroll L, Colborn T, Everett LG, Hansen M, Landrigan PJ, Lanphear BP, <strong>Mesnage R</strong>, Vendenberg LN, vom Saal FS, Welshons WV, Benbrook CM (2016). 
  Concerns over use of glyphosate-based herbicides and risks associated with exposures: a consensus statement. 
  Environ Health. 15:19.DOI: <a href="https://doi.org/10.1186/s12940-016-0117-0" target="_blank" rel="noreferrer noopener">10.1186/s12940-016-0117-0</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2015</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Arno M, Costanzo M, Malatesta M, Séralini GE, Antoniou MN (2015). 
  Transcriptome profile analysis reflects rat liver and kidney damage following chronic ultra-low dose Roundup exposure. 
  Environ Health. 14(1):70. DOI: <a href="https://doi.org/10.1186/s12940-015-0056-1" target="_blank" rel="noreferrer noopener">10.1186/s12940-015-0056-1</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Defarge N, Spiroux de Vendômois J, Séralini GE (2015) 
  Potential toxic effects of glyphosate and its commercial formulations below regulatory limits. 
  Food Chem Toxicol. 84:133-53. DOI: <a href="https://doi.org/10.1016/j.fct.2015.08.012" target="_blank" rel="noreferrer noopener">10.1016/j.fct.2015.08.012</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Defarge N, Rocque LM, Spiroux de Vendômois J, Séralini GE (2015) 
  Laboratory Rodent Diets Contain Toxic Levels of Environmental Contaminants: Implications for Regulatory Tests. 
  PLoS One. 10(7):e0128429. DOI: <a href="https://doi.org/10.1371/journal.pone.0128429" target="_blank" rel="noreferrer noopener">10.1371/journal.pone.0128429</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2014</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Defarge N., Spiroux de Vendômois J.and Séralini G.-E. (2014) 
  Letter to the Editor regarding “Delaney et al., 2014”: Uncontrolled GMOs and their associated pesticides make the conclusions unreliable. 
  Food Chem Toxicol. DOI: <a href="https://doi.org/10.1016/j.fct.2014.07.003" target="_blank" rel="noreferrer noopener">10.1016/j.fct.2014.07.003</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>,Séralini G.E. (2014) 
  The need of a closer look for pesticide toxicity during GMO assessment. 
  Chapter 10 in Practical Food Safety: Contemporary Issues and Future Directions, First Edition. Edited by Rajeev Bhat and Vicente M. Gómez-López. John Wiley & Sons, Ltd. DOI: <a href="https://doi.org/10.1002/9781118474563.ch10" target="_blank" rel="noreferrer noopener">https://doi.org/10.1002/9781118474563.ch10</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Séralini G.E., <strong>Mesnage R</strong>, Defarge N., and Spiroux de Vendômois J. (2014) 
  Conflicts of interests, confidentiality and censorship in health risk assessment: The example of an herbicide and a GMO. 
  Environmental Sciences Europe 26:14.DOI: <a href="https://doi.org/10.1186/s12302-014-0013-6" target="_blank" rel="noreferrer noopener">10.1186/s12302-014-0013-6</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Séralini G.E., Clair E., <strong>Mesnage R</strong>, Gress S., Defarge N., Malatesta M., Hennequin D. and Spiroux de Vendômois J. (2014) 
  Republished study: Long-term toxicity of a Roundup herbicide and a Roundup-tolerant genetically modified maize. 
  Environmental Sciences Europe 26:13.  DOI: <a href="https://doi.org/10.1186/s12302-014-0014-5" target="_blank" rel="noreferrer noopener">10.1186/s12302-014-0014-5</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Séralini G.E., <strong>Mesnage R</strong>, Defarge N., and Spiroux de Vendômois J. (2014) 
  Conclusiveness of toxicity data and double standards. 
  Food Chem Toxicol. 69: 357–359. DOI: <a href="https://doi.org/10.1016/j.fct.2014.04.018" target="_blank" rel="noreferrer noopener">10.1016/j.fct.2014.04.018</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Defarge N., Spiroux de Vendômois J.and Séralini G.-E. (2014) 
  Major pesticides are more toxic to human cells than their declared active principles.
  BioMed Research International. Vol 2014, Article ID 179691. DOI: <a href="https://doi.org/10.1155/2014/179691" target="_blank" rel="noreferrer noopener">10.1155/2014/179691</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2013</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Séralini G.E., <strong>Mesnage R</strong>, Defarge N., Gress S., Hennequin D., Clair E., Malatesta M., and Spiroux de Vendômois J. (2013) 
  Answers to critics : Why there is a long term toxicity due to NK603 Roundup-tolerant genetically modified maize and to a Roundup herbicide. 
  Food and Chemical Toxicology.53: 461-8. DOI: <a href="https://doi.org/10.1016/j.fct.2012.11.007" target="_blank" rel="noreferrer noopener">10.1016/j.fct.2012.11.007</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Bernay B., Séralini G.E. (2013) 
  Ethoxylated adjuvants of glyphosate-based herbicides are active principles of human cell toxicity.
  Toxicology 16; 313(2-3):122-8. DOI: <a href="https://doi.org/10.1016/j.tox.2012.09.006" target="_blank" rel="noreferrer noopener">10.1016/j.tox.2012.09.006</a> </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Clair E., Gress S., Then C., Szekacs A. and Séralini G.-E. (2013) 
  Cytotoxicity on human cells of Cry1Ab and Cry1Ac Bt insecticidal toxins alone or with a glyphosate-based herbicide.
  Journal of Applied Toxicology 7:695-9.DOI: <a href="https://doi.org/10.1002/jat.2712" target="_blank" rel="noreferrer noopener">10.1002/jat.2712</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Gress S., Defarge N., and Séralini G.-E. (2013) 
  Human cell toxicity of pesticides associated to wide scale agricultural GMOs. 
  Theorie in der Ökologie, 7:118-20.</p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2012</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Clair E., <strong>Mesnage R</strong>, Travert C., Séralini G.E. (2012) 
  A glyphosate-based herbicide induces necrosis and apoptosis in mature rat testicular cells in vitro, and testosterone decrease at lower levels.
  Toxicology in vitro. 26(2): 269-79.DOI: <a href="https://doi.org/10.1016/j.tiv.2011.12.009" target="_blank" rel="noreferrer noopener">10.1016/j.tiv.2011.12.009</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Benachour N., Clair E., <strong>Mesnage R</strong>, Séralini G.-E. (2012)  
  Endocrine Disruptors“New discoveries and possible progress of evaluation”. 
  Chapter in “Advances in Medicine and Biology, Volume 29” Nova Science Publishers.</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Moesch C., Le Grand R., Lauthier G., Spiroux de vendômois J., Gress. S. and Séralini G.E (2012). 
  Glyphosate exposure in a farmer’s family.
  Journal of Environmental Protection. 3(9): 1001-1003. DOI: <a href="http://dx.doi.org/10.4236/jep.2012.39115" target="_blank" rel="noreferrer noopener">10.4236/jep.2012.39115</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Defarge N., <strong>Mesnage R</strong>, Gress S., Séralini G.E. (2012) 
  Letter to the editor: developmental and reproductive outcomes of roundup and glyphosate in humans and animals. 
  J Toxicol Environ Health B Crit Rev. 15(7): 433-40.  DOI: <a href="https://doi.org/10.1080/10937404.2012.736857" target="_blank" rel="noreferrer noopener">10.1080/10937404.2012.736857</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2011</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Séralini G.-E., <strong>Mesnage R</strong>, Clair E., Gress S., Cellier D., Spiroux de Vendômois J.(2011) 
  Genetically Modified Crops Safety Assessments: Present Limits and Possible Improvements. 
  Environmental Sciences Europe 23:10  DOI: <a href="https://doi.org/10.1186/2190-4715-23-10">https://doi.org/10.1186/2190-4715-23-10</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Gasnier C., Laurent C., <strong>Mesnage R</strong>, Clair E., Séralini G.E (2011) 
  Defined plant extracts can protect human cells against combined xenobiotic effects. 
  Journal of Occupational Medicine and Toxicology 6:3 .DOI: <a href="https://doi.org/10.1186/1745-6673-6-3" target="_blank" rel="noreferrer noopener">10.1186/1745-6673-6-3</a></p>

<br><br>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>2010</h3>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Clair E., Séralini G.-E. (2010)
  Roundup in Genetically modified crops: Regulation and toxicity in mammals.
  Theorie in der Ökologie 16:31-33 </p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Séralini G.E., Spiroux de Vendomois J., Cellier D., <strong>Mesnage R</strong>, Clair E. (2010) 
  Genetically modified crop consumption at large scale: Possible negative health impacts due to holes in assessment. Overview of the safety studies of GMOs performed on mammals. 
  Theorie in der Ökologie 16:28-30</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Clair E., <strong>Mesnage R</strong>, Gress S., Travert C., Séralini G.E. (2010) 
  Un herbicide à base de glyphosate induit la nécrose et l’apoptose des cellules testiculaires de rats matures. 
  Annales d’Endocrinologie 71 340–353</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  <strong>Mesnage R</strong>, Clair E., Spiroux de Vendômois J., Séralini G.E. (2010) 
  Two cases of birth defects overlapping Stratton-Parker syndrome after multiple pesticide exposure. 
  Occup Environ Med 67:359 .DOI: <a href="https://doi.org/10.1136/oem.2009.052969" target="_blank" rel="noreferrer noopener">10.1136/oem.2009.052969</a></p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> 
  Spiroux de Vendomois J., Cellier D., Vélot C., Clair E., <strong>Mesnage R</strong>, Séralini G.E. (2010)
  Debate on GMOs Health Risks After Statistical Findings in Regulatory Tests. 
  Int. J. Biol. Sci. 6(6):590-598. <a href="https://dx.doi.org/10.7150%2Fijbs.6.590" target="_blank" rel="noreferrer noopener">10.7150/ijbs.6.590</a></p>


   </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
